@import "tailwindcss";
@plugin "daisyui";


@custom-variant dark (&:where(.dark, .dark *));

body {
  background-color: #000000;
  color: #ffffff;
}


html {
  scroll-behavior: smooth;
  background-color: #000;
  color: #fff;
}

section {
  transition: all 0.3s ease-in-out;
  will-change: transform, opacity;
}
